veanalyze history_buffer.sv decompressor_top.sv decompressor_top_tb.sv 

#Declare top level module
comp -top decompressor_top_tb 

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy

#Retain write-only memories in design
velsyn -SWOM
